body{
    margin: 0;
    padding: 10px;
    width: 400px;
}

#input-el{
    background-color: rgb(211, 239, 248);
    border: 1px solid black ;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 12px;
    margin-top: 3px;
    font-weight: bold;
}

ul{
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}

ul li{
    margin-top: 5px;
}
ul li a{
    color: green;
    font-weight: bold;
    font-size: 15px;
    
}

#delete-el{
    background-color: white;
    color: green;
    border: 1px solid green;
    padding: 9px 12px;  
}
